Package: jp.r-plus.gtranslateaction
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Version: 0.1
Description: Translate WebPage via Action Menu
Name: GTranslate Action
Depends: firmware (>= 4.0), mobilesubstrate, actionmenu
Author: r_plus <anasthasia.r+gtrans@gmail.com>
